/* buttons */

.btn-group {
    display: inline-block;
    width: 100%;
    margin-top: 80px;
}
    .btn-group > .btn + .btn {
        margin-left: 20px;
    }

.btn {
    display: inline-block;
    padding: 14px 75px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color-anti);
    color: var(--main-color-anti-text);
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 30px;
    cursor: pointer;
}
    .btn:hover {
        background-color: var(--main-color);
        color: var(--main-color-text);
    }
    .btn.btn-secondary-color-transparent {
        border-color: var(--secondary-color);
        background-color: var(--secondary-color);
        color: var(--secondary-color-text);
    }
        .btn.btn-secondary-color-transparent:hover {
            background-color: transparent;
            color: var(--secondary-color-anti-text);
        }