/* header */
#main_header {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
    #main_header > .row {
        margin-top: 0;
        margin-bottom: 0;
    }

#main_header img {
    float: left;
}

.hamburger {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 7px;
    float: right;
    background-color: transparent;
    cursor: pointer;
}
    .hamburger > .bar {
        display: inline-block;
        width: 100%;
        height: 14%;
        float: left;
        background-color: #333;
    }
    .hamburger > .bar + .bar {
        margin-top: 29%;
    }

    #main_header.fixed {
        position: fixed;
        background-color: #FFF;
        box-shadow: 0 2px 4px #999;
    }