/* layout + section headings */

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc((100% - 1200px) / 2);
    }

    @media ( max-width: 1300px ) {
        .container > .row {
            width: 1000px;
            margin: 0 calc((100% - 1000px) / 2);
        }
    }

    @media ( max-width: 1100px ) {
        .container > .row {
            width: 800px;
            margin: 0 calc((100% - 800px) / 2);
        }
    }

    @media ( max-width: 900px ) {
        .container > .row {
            width: 600px;
            margin: 0 calc((100% - 600px) / 2);
        }
    }

    @media ( max-width: 700px ) {
        .container > .row {
            width: 100%;
            margin: 0;
        }
    }